.client__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.client__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-title-color);
  margin-bottom: 50px;
}
.client__icon {
  fill: var(--icon-color);
  transition: fill var(--time) var(--cubic);
  .client__link:hover > &,
  .client__link:focus > & {
    fill: var(--accent-color);
  }
}
.client__item {
  flex-basis: calc((100% - 180px) / 6);
  margin-left: 30px;
  margin-top: 30px;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border var(--time) var(--cubic);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}
