.footer__address {
  font-style: normal;
  margin-top: 20px;
}
.footer__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color var(--time) var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__mail-link {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time) var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__tel-link {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time) var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}
.footer__social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #ffffff;
  text-transform: uppercase;
}
.footer__social-container {
  margin-left: 70px;
  margin-right: 85px;
}

.footer__social-form-head {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
}
.footer__social-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding: 16px 15px;
  color: #ffffff;
  transition: border var(--time) var(--cubic);
  outline: none;
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }
}
.footer__social-button {
  height: 50px;
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  align-items: center;
  text-align: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 29px;
  display: flex;
  margin-left: 12px;
  border: none;
  cursor: pointer;
  transition: background-color var(--time) var(--cubic);
  &:focus,
  &:hover {
    background: #188ce8;
  }
}

.footer__social-button-icon {
  margin-left: 10px;
}
.footer__email-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
