.hero {
  padding-top: 118px;
  padding-bottom: 118px;
}
.overlay {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay/background-hero-mobile.jpg);
  max-width: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}
// .hero {
//   padding-top: 200px;
//   padding-bottom: 200px;
// }
// .overlay {
//   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url(../images/overlay/background-hero.jpg);
//   height: 600px;
//   max-width: 1600px;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   margin-left: auto;
//   margin-right: auto;
// }

// .main-title {
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.37;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;

//   color: #ffffff;
// }
