.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.logo-span {
  color: var(--black-title-color);
}
.logo-span-white {
  color: #ffffff;
}
